@import "../../../Variables/Variables.scss";

.a__button {
    @include genericButtonStyles($blackColor, 20px);
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    align-content: center;
    width: 15%;
    font-size: 90%;
   
}
