.drink {
    display: grid;
    grid-template-columns: auto 30%;
    background-color: #768eb1e3;
    color: #292e35;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-weight: bold;
    
    &__img {
        margin: 1%;
        height: 90%;
        width: 90%;
        border: solid black;
        text-align: center;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    &__title{
        color: #292e35;
        font-size: auto;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
        text-align: start;

    }
    &__instructions{
        text-justify: start;
        font-size: auto;
    }
}
