.drink {
    display: grid;
    @media only screen and (min-width: 768px) {
    grid-template-columns: auto 30%;
    }
    @media only screen and (max-width: 767px) {
    grid-template-columns: auto;
    }
    background-color: #768eb1e3;
    color: #292e35;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-weight: bold;

    &__img {
        margin: 1%;
        height: 90%;
        width: 90%;
        text-align: center;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    &__title{
        color: #292e35;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        @media only screen and (min-width: 768px) {
            text-align: start;
            font-weight: bold;
            }
        @media only screen and (max-width: 767px) {
            text-align: center;
            font-weight: bolder;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
            }
    }

    &__instructions{
        @media only screen and (min-width: 768px) {
            text-justify: start;
            }
        @media only screen and (max-width: 767px) {
            text-justify: center;
            font-size: smaller;
            }
    }
    &__text{
        @media only screen and (min-width: 768px) {
            text-align: start;
            justify-content: start;
            align-content: start;
            align-items: start;
            text-justify: start;
            }
        @media only screen and (max-width: 767px) {
            text-align: center;
            justify-content: center;
            align-content: center;
            align-items: center;
            text-justify: center;
            font-size: smaller;
            }
    }
}
