body{
    background-color: #424c5a;
}

.card {
    margin-top: 15px;
    display: grid;
    position: absolute;
    grid-template-columns:auto auto auto;
    background-color: #424c5a;
    color: black;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;

    &__img {
        background-color: #424c5a;
        color: black;
        width: 55%;
        cursor: pointer;
        border-radius: 5%;
        border: black dashed 2px   
    }

    &__title{
        color: rgb(253, 254, 255);
        font-size: 100%;
        cursor: pointer;
    }
}
